/* OVERRIDES */

div.Header-bottom2eLKOFXMEmh5 {
  background-color: #ffffff !important;
}

.rm-Header {
  --Header-background: var(--color-primary);
  --Header-border-color: #ffffff;
  --Header-border-width: 1px;
  --Header-button-color: #ffffff;
  --Header-button-hover: #ffffff;
  --Header-button-active: #ffffff;
  --Header-button-focus: #ffffff;
  --Header-jumpTo-background: var(--color-primary-inverse);
  --Header-jumpTo-color: var(--color-primary);
  --Header-logo-height: 48px;
}

--markdown-font: var(--font-family);
--markdown-font-size: 15px;
--markdown-line-height: 1.5;
--markdown-title-font: var(--font-family);
--markdown-title-weight: var(--font-weight-bold);

/* Remove Gap Between Landing Page Hero and Container */
.rm-LandingPage {
  --LandingPage-gap: var(--gap, 0em);
}


/* Ensure Global Navigation Button Text Remains Black */
 .rm-Header-bottom-link.Button:hover {
   color: #384248;
}

/* Remove Gray Background from Local Navigation Button */
.reference-redesign .Sidebar-link2Dsha-r-GKh2.active {
  background: #ffffff;
  color: #005eff !important;
}


/*
*
* Custom Pages Adjustments 
*
*/

.App .rm-CustomPage header {
  border-bottom: 1px solid var(--color-border-default);
  margin: 0 0 30px;
  padding: 30px 0 25px 0;
}

.App .rm-CustomPage > .grid-container-fluid {
  
  padding-bottom: 50px;
}

.field-description .rm-Markdown .rdmd-table {
  font-size: small;
}


/*
*
* External Link Icons
*
*/

.markdown-body a[href*="http"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: 3px;
}

.markdown-body a[href*="rms-group.readme.io"]::after,
.markdown-body a[href*="developer.rms.com"]::after {
  content: '';
}

/* THEME
 * ADMONITIONS
 * API
 * BANNER
 * CHANGELOG
 * DLs
 * FOOTER
 * ICONS
 * PROCEDURES
 * SYNOPSIS
 */

/* THEME */

.ThemeContext_line .rm-Header {
	--Header-border-color:ffffff !important;
	--Header-border-width: 0px;
}

/*ADMONITION
 * INFO = BLUE
 * WARNING = RED
 * IDEMPTPOTENCY = BLUE
 * PERMISSIONS = PURPLE
 * INFORMATION = BLUE
 * DEPRECATED = RED
 * LICENSING = YELLOW
 * RECIPE = BLUE
 * POSTMAN = ORANGE
 * CHANGELOG = WHITE 
 *
 * */

.callout[theme=📘] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #46b8da;
}

.callout[theme=🚧] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #eea236;
}

.callout[theme=❗️] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #d43f3a;
}

.callout[theme=👍] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: rebeccapurple;
}



/* 
*
* DEPRECATED INFO ADMONITION 
*
*
* */

.callout[theme=📘] .callout.callout .callout-heading
{
	font-size: 14px;
  color: var(--title,--text);
  font-size: 14px;
  font-family: var(--markdown-title-font);
  font-weight: var(--markdown-title-weight,600);
  line-height: 1.25;
  margin-bottom: calc(1.33rem * 0.5);
  text-transform: uppercase;
}


/* 
*
* DEPRECATED WARNING ADMONITION 
*
* */

.callout[theme=👍] blockquote {
	font-size: 14px;
}

.callout[theme=👍] h3 {
	font-size: 14px;
	text-transform: uppercase;
}

.callout.callout_okay {
  --background: #f8e8f8 !important;
  --title: rebeccapurple !important;
  --border: #f8e8f8 !important;
  background: var(--background) !important;
  border-color: var(--background) !important;
  color: var(--text);
 /* padding: 1.33rem; */ 
  padding-left: 0 !important; 
  }

.callout.callout {
  background: var(--background);
  border-color: var(--background) !important;
  color: var(--text);
	
}



.callout.callout_okay h3 p {
text-transform: uppercase;
color: var(--color-text-muted);
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}

.fa-solid, .fas {
  font-weight: 600;
	font-size: 16px;
  color: rebeccapurple;
}



.callout.callout_ok, .callout.callout_okay, .callout.callout_success {
--background:#f8e8f8;
--title:rebeccapurple !important;
--border:rebeccapurple !important;
}

/* 
* Info Adomonition
* BLUE NOTE ADMONITION
*
* */

.callout[theme="📷"] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #0A1264;
}

.callout.callout[theme="📷"] {
  background: #deebff;
  color: var(--text);
	font-size: 14px;
  padding: .75rem; 
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: #003590 !important;
}

.callout.callout[theme="📷"] > * {
	margin-left: 0rem;
}

.callout.callout[theme="📷"] {
  .callout-heading {
    color: #003590 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    margin: 0 !important;
  }
}

.callout.callout[theme="📷"] {
  p {
    font-size: 13px;
  }
}


.callout.callout h3 .callout-icon, .callout.callout .callout-heading .callout-icon {
    margin-left: calc(-1.25rem - .5em);
    visibility: hidden !important;
}


/* 
* Entitlement ADMONITION
*
* */

.callout[theme="🪰"] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #0A1264;
}

.callout-icon[theme="🪰"]{
	visibility: hidden !important;
}


.callout.callout[theme="🪰"] {
  /* background:var(--gray100) !important; */
  color: var(--text);
	font-size: 14px;
  /*padding: .75rem; */
	background-color: white !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
	/* border: solid 1px; */
  padding-top: 30px !important;
	/* border-radius: var(--border-radius-lg); */
  /* border-color: var(--color-border-default) !important; */
	margin-left: 0px !important;
}

.callout.callout[theme="🪰"] >*{
	margin-left: 0px !important;
}

.callout.callout[theme="🪰"] h3>*, .callout.callout .callout-heading>* {
    color: var(--color-text-mute) !important;
    font-weight: var(--font-weight-bold) !important;
    font-family: var(--font-family);
		font-size: 12px !important;
    margin: 0;
    text-transform: uppercase;
    /* font-size: 12px !important; */
}


/*
.callout.callout[theme="🪰"] p:nth-of-type(2)  {
    border-width: 1px !important;
    border-color: var(--color-border-default) !important;
    border: 2px solid black;
    border-radius: var(--border-radius-lg) !important;
    background-color: var(--gray100) !important;
    padding: 10px;
}
*/



/*
.field-description[theme="🪰"] blockquote > :last-child, .markdown-body blockquote > :last-child {
    margin-bottom: 0;
    margin-left: 0px !important;
    border-width: 1px !important;
    border-color: var(--color-border-default) !important;
    border: 2px solid black;
    border-radius: var(--border-radius-lg) !important;
    background-color: var(--gray100) !important;
    padding: 10px;
	}
*/

.callout.callout[theme="🪰"] blockquote > :last-child {

    margin-bottom: 0;
    margin-left: 0px !important;
    border-width: 1px !important;
    border-color: var(--color-border-default) !important;
    border: 2px solid black;
    border-radius: var(--border-radius-lg) !important;
    background-color: var(--gray100) !important;
    padding: 10px;
}

/*
, .markdown-body blockquote > :last-child {
    margin-bottom: 0;
    margin-left: 0px !important;
    border-width: 1px !important;
    border-color: var(--color-border-default) !important;
    border: 2px solid black;
    border-radius: var(--border-radius-lg) !important;
    background-color: var(--gray100) !important;
    padding: 10px;
	}
*/

/* 
* Permissions ADMONITION
*
* */

.callout[theme=🍇] {
  --emoji: unset;
  --icon: "\f059"; /* copied front FontAwesome */
  --icon-color: #5c068c;
}

.callout.callout[theme=🍇] {
  background: #eee7f3;
  border-color: #eee7f3;
  color: var(--text);
  padding: 1.33rem;
	border: solid 1px #5c068c;
	border-radius: var(--border-radius-lg);
  border-color: #5c068c !important;
}

.callout.callout[theme=🍇] h3 p{
text-transform: uppercase;
color: #5c068c;
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}



/* 
 * DEPRECATION ADMONITION 
 * */

.callout[theme="🍏"] {
  --emoji: unset;
  --icon: "\f057"; /* copied front FontAwesome */
  --icon-color: #BA0C2F;
}

.callout.callout[theme="🍏"] {
  background: #F8E5E9 !important;
  color: var(--text);
  border: solid 1px;
  border-radius: var(--border-radius-lg);
  border-color: #BA0C2F !important;
  padding: 1.33rem;
}


.callout.callout[theme="🍏"]  > * {
	font-size: 13px;
}

.callout.callout[theme="🍏"]  > h2 {
	font-size: 13px;
  color: #BA0C2F;
  text-transform: uppercase !important;
}
 

/* 
*
* YELLOW WARNING ADMONITION 
*
*/

.callout[theme=🍌] {
  --emoji: unset;
  --icon: ú-fw; 
  --icon-color: #eea236;
}

.callout.callout[theme=🍌] {
  --emoji: unset;
  background: #fcf8f2;
  color: var(--text);
	font-size: 14px;
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: #eea236 !important;
}

.callout.callout[theme==🍌] > * {
	font-size: 11px;
	margin-left: 0rem;
}

.callout.callout[theme="🍌"] {
  .callout-heading {
    color: #eea236 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    margin: 0 !important;
  }
}

.callout.callout[theme="🍌"] {
  p {
    font-size: 13px;
  }
}

.callout.callout[theme=🍌] h3 p {
text-transform: uppercase;
color: #eea236;
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}

*/

/* NEW BLUE admonition*/

.callout[theme=🫐] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #5bc0de;
}

.callout.callout[theme=🫐] {
  background: #e4e4ec !important;
  color: var(--text);
  padding: .75rem;
  padding-left: 0;
	font-size: 14px;
/*	border: var(--border-width) solid var(--ParamContainer-border); */
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: #5bc0de !important;
}

.callout.callout[theme=🫐] > * {
	font-size: 14px;
	margin-left: .75em;
  background: #e4e4ec !important;
}

.callout.callout[theme=🫐] h3 p {
  text-transform: uppercase !important;
  color: #5bc0de !important;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
}

.callout.callout[theme=🫐] .callout-heading {
    font-size: 14px;
    margin-left .75em;
    color: #5bc0de !important;
    text-transform: uppercase !important;
}

/* 
*
* PURPLE PERMISSIONS ADMONITION
*
*
* */

.callout[theme=🍐] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: rebeccapurple;
}

.callout.callout[theme=🍐] {
  background: #f8e8f8 !important;
  color: var(--text);
	font-size: 14px;
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: rebeccapurple !important;
}

.callout.callout[theme=🍐]  > * {
	font-size: 11px;
	margin-left: 0rem !important;
}


.callout.callout[theme="🍐"] {
  .callout-heading {
    color: rebeccapurple;
    text-transform: uppercase !important;
    font-size: 14px !important;
    margin: 0 !important; 
    padding-bottom: 10px;
  }
}

.callout.callout[theme="🍐"] {
  p {
    font-size: 13px;
  }
}


/*
.callout.callout[theme=🍐] h3 p {
text-transform: uppercase;
color: rebeccapurple;
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}
*/

.callout.callout[theme=🍐] table {
	border-collapse:collapse;
  border: 0px solid black;
  width: 95%;
}

.callout.callout[theme=🍐] table:not(.plain) tr:nth-child(2n) {
  background-color: #f8e8f8;

}

.callout.callout[theme=🍐] .rdmd-table table th {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--color-text-muted);
}

.callout.callout[theme=🍐] table tr {
  background-color: #f8e8f8;
	border-bottom: 1px solid black;
}

.callout.callout[theme=🍐] table td, table th {
	border: 0px solid black !important;
	border-collapse:collapse;
}


.callout.callout[theme=🍐]  .heading-text p {
color: rebeccapurple;
}

.callout.callout[theme=🍐] .rdmd-table table td {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 11px; /* REDUCE SIZE OF HEADING */
  color: var(--color-text-muted);
}




/* Space between table and text in blockquote */
.field-description blockquote > :last-child, .markdown-body blockquote > :last-child {
  margin-bottom: 0;
 /* padding-top: 12px; */
}


/* 
*
* ORANGE POSTMAN ADMONITION
* LICENSING
*
* */

.callout[theme=🍊] {
  --emoji: unset;
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #E35205;
}

.callout.callout[theme=🍊] {
  background: #FBE6DA !important;
  color: var(--text);
	font-size: 14px;
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: #E35205 !important;
}

.callout.callout[theme=🍊]  > * {
	margin-left: 0rem !important;
}


.callout.callout[theme="🍊"] {
  .callout-heading {
    color: #E35205;
    text-transform: uppercase !important;
    font-size: 14px !important;
    margin: 0 !important; 
    padding-bottom: 10px;
  }
}

.callout.callout[theme="🍊"] {
  p {
    font-size: 13px;
  }
}


/*
.callout.callout[theme=🍊] h3 p {
text-transform: uppercase;
color: rebeccapurple;
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}
*/

.callout.callout[theme=🍊] table {
	border-collapse:collapse;
  border: 0px solid black;
  width: 95%;
}

.callout.callout[theme=🍊] table:not(.plain) tr:nth-child(2n) {
  background-color: #fcf8f2;

}

.callout.callout[theme=🍊] .rdmd-table table th {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--color-text-muted);
}

.callout.callout[theme=🍊] table tr {
  background-color: #fcf8f2;
	border-bottom: 1px solid black;
}

.callout.callout[theme=🍊] table td, table th {
	border: 0px solid black !important;
	border-collapse:collapse;
}


.callout.callout[theme=🍊]  .heading-text p {
color: #ff6b37;
}

.callout.callout[theme=🍊] .rdmd-table table td {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 11px; /* REDUCE SIZE OF HEADING */
  color: var(--color-text-muted);
}

/* 
*
* WHITE CHANGELOG ADMONITION
*
*
* */

.callout[theme=🥥] {
  --emoji: unset;
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #fff;
}

.callout.callout[theme=🥥] {
  margin-top: 40px !important;
  background: #E5E4E2 !important;
  color: var(--text);
	font-size: 15px !important;
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: #fff !important;
  background: #e5e4e2 !important;
  .p {
    font-size: 16px;
  }
  .markdown-body {
    strong: font-weight: 700;
    color: #b40023 !important;
  }
}

.callout.callout[theme=🥥]  > * {
	margin-left: 0rem !important;
}


.callout.callout[theme="🥥"] {
  .callout-heading {
    color: black !important;
    font-size: 15px !important;
    margin: 0 !important; 
    padding-bottom: 10px;
  }
}

.callout.callout[theme="🥥"] {
  p {
    font-size: 15px;
  }
}



.callout.callout[theme=🥥] table {
	border-collapse:collapse;
  border: 0px solid black;
  width: 95%;
}

.callout.callout[theme=🥥] table:not(.plain) tr:nth-child(2n) {
  background-color: #fff;

}

.callout.callout[theme=🥥] .rdmd-table table th {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--color-text-muted);
}

.callout.callout[theme=🥥] table tr {
  background-color: #fcf8f2;
	border-bottom: 1px solid black;
}

.callout.callout[theme=🥥] table td, table th {
	border: 0px solid black !important;
	border-collapse:collapse;
}


.callout.callout[theme=🥥]  .heading-text p {
color: #fff;
}

.callout.callout[theme=🥥] .rdmd-table table td {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 11px; /* REDUCE SIZE OF HEADING */
  color: var(--color-text-muted);
}






/* RECIPE admonition */
.callout[theme=🍎] {
  --emoji: unset;
  --icon: ú-fw; /* copied front FontAwesome */
  --icon-color: #c50a50;
}

.callout.callout[theme=🍎] {
  --emoji: unset;
	font-size: 14px;
  background: #e3edf2;
  border-color: #5bc0de !important;
  padding: .75rem;
	border: solid 1px;
	border-radius: var(--border-radius-lg);
  border-color: var(--color-border-default);
}

.callout.callout[theme=🍎] h3 p {
	text-transform: uppercase;
	color: #5bc0de;
	font-family: var(--font-family);
	font-size: 12px;
	font-weight: var(--font-weight-bold);
}

.callout.callout[theme=🍎] > * {
	margin-left: 0rem;
}



/*API */

.field-description ul {
  list-style: initial;
  font-size: 13px !important;
  line-height: 1.4 !important;
}

/* BANNER */

.col-three-grid .row-wrap .col-wrap h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #0A1264;
    font-family: GT America, Inter, sans-serif;
    margin: 0 0 12px;
}


/* DEFINITION LISTS */
/*
dl.bullet {
}
*/
dl.bullet > dt {
  float: left;
  margin-right: 5px;
  font-weight: 600;
  font-style: normal !important;
  display: list-item;   /* This has to be "list-item"   */ 
  list-style-type: disc;  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type   */ 
  list-style-position: inside;
  margin-top: 0em !important;
}


dl.bullet > dt::after {
  content: ":  ";
}

dl.bullet > dd {
	margin-left: 0px;
  margin-bottom: 0em !important;
  padding: 2px 0 4px 4px !important; 

}

/* DESCRIPTION LISTS */


dl.status {
	padding: 0.5em;
	display: flex;
	flex-flow: row wrap;
}

.status > dt {
    font-style: normal !important;
    flex-basis: 35%;
    text-align: left;
    border-top: 1px solid #333;
  	margin-bottom: 0 !important;
    margin-top: 0 !important;
  	padding-top: 15px !important;
    padding-bottom: 15px;

}

.dd {
  padding-top: 15px !important;
}

.status > dd {
    flex-basis: 65%;
    flex-grow: 1;
    border-top: 1px solid #333;
  	margin-bottom: 0em !important;
  	margin-top: 0em !important;
   margin-top: 0em !important;
	 padding-top: 15px !important;
   padding-bottom: 15px !important;
}


dl.code-defs {
	padding: 0.5em;
}
  
.code-defs > div {
    border-top: 1px solid #dfe2e5;
  	width:100%;
  display: flex;
  }
  
.code-defs > div:nth-child(2n) {
    background-color: #fbfcfd;
  }
  
.code-defs > div > dt {
    font-style: normal !important;
  	
  	width: 25%;
    text-align: left;

  	margin-bottom: 0 !important;
    margin-top: 0 !important;
  	padding-top: 5px !important;
    padding-bottom: 5px;
}
  
  dl.code-defs > div > dt > code {
  color: #b40023;
  }

.code-defs > div > dd {
  width: 75%;

 	border-top: 1px solid  	#dfe2e5;
  margin-bottom: 0em !important;
  margin-top: 0em !important;
  margin-top: 0em !important;
	padding-top: 5px !important;
  padding-bottom: 5px !important;
}


/* FOOTER */

.footer
{
  padding:50px 0 0;
  position: relative;
}
@media screen and (min-width: 596px) and (max-width: 991px) {
  .footer{
    padding:70px 0 0;
  }
}
@media only screen and (max-width: 595px) {
  .footer{
    padding:0 0 0;
  }
}
@media only screen and (max-width: 595px) {
  .footer{
    padding:0 0 0;
  }
}
.footer .bottom-line{
  content: '';
  position: absolute;
  height: 8px;
  background: linear-gradient(90deg, #09869F -2.75%, #0a1264 99.58%);
  width: 100%;
  bottom: 0;
}
.footer .container{
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  max-width: 1237px;
  position: relative;
}
.footer .top-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 83px;
}

@media only screen and (max-width: 595px) {
  .footer .top-content{
    padding: 0 20px 24px;
  }
}
.footer .col-wrap {
  flex: 0 0 25%;
  max-width: 23%;
  width:100%;
}

@media only screen and (max-width: 991px) {
  .footer .col-wrap:first-child  {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 20px
  }
  .footer .col-wrap  {
    flex: 0 0 50%;
    max-width: 50%;

  }
  footer .col-wrap .logo-wrap{
    margin:0 auto;
  }
  .footer .col-wrap .address-item{
    margin:0 auto;
  }
}
.footer .col-wrap .logo-wrap {
  margin-bottom: 48px;
  max-width: 214.4px;
  height: 80px;
}
@media only screen and (max-width: 767px) {
  .footer .col-wrap .logo-wrap
  {
    margin-bottom: 30px;
  }
}

.footer .col-wrap .logo-wrap img {
  width:100%;
  height: 100%;
  max-width: 100%;
  object-fit:contain;
  vertical-align: top;
}
.footer .col-wrap .address-item{
  max-width:267px;
}
.footer .col-wrap .address-item ul li{
  margin:0;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}
@media only screen and (max-width: 767px) {
  .footer .col-wrap .address-item ul li{
    text-align:center;
  }
}
.footer .col-wrap h6{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
@media only screen and (max-width: 991px) {
  .footer .col-wrap h6{
    margin: 15px 0;
  }
}
.footer .col-wrap ul li{
  list-style: none;
  margin: 20px 0 0;
}
@media only screen and (max-width: 991px) {
  .footer .col-wrap ul li{
    margin: 10px 0;
  }
}
.footer .col-wrap ul li a
{
  font-size: 14px;
  line-height: 21px;
  color:#000;
  text-decoration:none;
}
.footer .bottom-content{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position:relative;
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content{
    justify-content: center;
  }

}
.footer .bottom-content:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #F2F2F2
}
.footer .bottom-content .col-left{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 24px 0;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content .col-left {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 20px 0 0;
  }
  .footer .bottom-content .col-left p{
    margin:0 auto;
    text-align: center;
  }
}
.footer .bottom-content .col-left p{
  font-size: 10px;
  line-height: 14px;
  max-width: 482px;
}

.footer .bottom-content .col-right{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 24px 0;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content .col-right {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.footer .bottom-content .col-right ul{
  display:flex;
  list-style: none;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content .col-right ul{
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .footer .bottom-content .col-right ul{
    flex-direction: column;
    align-items: center;
  }
}
.footer .bottom-content .col-right ul li a{
  font-size: 12px;
  line-height: 21px;
  color: #5A5A5A;
  position: relative;
  text-decoration:none;
  cursor: pointer;
  margin: 0 10px 0;
}
.footer .bottom-content .col-right ul li a:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -9px;
  margin: auto;
  width: 1px;
  height: 70%;
  background-color:  #5A5A5A;
  cursor: auto;
}
@media only screen and (max-width: 480px) {
  .footer .bottom-content .col-right ul li a:after{
    display:none;
  }
}
.footer .bottom-content .col-right ul li:last-child a:after {
  display:none;
}


.footer-copyright {
    background-color: #0A1264;
}

.footer-image img {
    max-width: 50%;
}


/* ICONS */
.icon-landing-page-2 {
  visibility: hidden;
}

.icon.icon-custom-pages-2 {
  visibility: hidden;
}

.icon-custom-pages-2 {
  visibility: hidden;
}
.icon-guides {
  visibility: hidden;
}
.icon-recipes {
  visibility: hidden;
}
.icon-references {
  visibility: hidden;
}
.icon-changelog {
  visibility: hidden;
}
.icon-text-align-left::before {
  content: none !important;
  visibility: hidden;
}

.icon-document2 {
    visibility: hidden;
}

/*
	PROCEDURES
*/

ol > li {
  margin-top: 1em !important;
}

ol > li > br {
	content: "A" !important;
	display: block !important;
  margin-top: 1em !important;
}
/* SYNOPSIS */

.synopsis {
	overflow-wrap: normal;
	word-break: normal;
  background-color: rgb(246, 248, 250);
	box-sizing: border-box;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-size: 12.75px;
	line-height: 18.4833px;
	margin-bottom: 15px;
	margin-top: 15px;
	overflow-wrap: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
	position: relative;
	word-break: normal;
  line-height: 6px;
  font-weight: 600;
  overflow-wrap: normal;
	overflow-x: auto;
	overflow-y: auto
}

/*
.synopsis > .prototype {

}
*/
.synopsis > p.parameter {
  margin-left:12px;
}

dt > code.rdmd-code {
  color: black !important;
  font-style: normal;
  font-weight: 600;
} 

/*  code 
 *  Remove background color
 *  
 */

.markdown-body code {
    background-color: rgba(0,0,0,0) !important;
}


/* Hide text from viewers but visibile to search engine
 */

.hidden {
	display: none !important
}

.tags {
	display: none !important
}

