/*
 * THEME
 * ADMONITIONS
 * API
 * BANNER
 * CHANGELOG
 * DLs
 * FOOTER
 * ICONS
 * PROCEDURES
 * SYNOPSIS
 */

/* THEME */

.ThemeContext_line .rm-Header {
	--Header-border-color:ffffff !important;
	--Header-border-width: 0px;
}

/*ADMONITION*/

.callout[theme=📘] {
  --emoji: unset;
  --icon: "\f05a"; /* copied front FontAwesome */
  --icon-color: #46b8da;
}

.callout[theme=🚧] {
  --emoji: unset;
  --icon: "\f0f3"; /* copied front FontAwesome */
  --icon-color: #eea236;
}

.callout[theme=❗️] {
  --emoji: unset;
  --icon: "\f06a"; /* copied front FontAwesome */
  --icon-color: #d43f3a;
}

.callout[theme=👍] {
  --emoji: unset;
  --icon: "\f5ad"; /* copied front FontAwesome */
  --icon-color: rebeccapurple;
}


/* PERMISSIONS ADMONONITION */
.callout.callout_okay {
  --background: #f8e8f8 !important;
  --title: rebeccapurple !important;
  --border: #f8e8f8 !important;
  }

.callout.callout {
  background: var(--background);
  border-color: var(--background);
  color: var(--text);
  padding: 1.33rem;
}



.callout.callout_okay table tr {
  background-color: #f8e8f8;
}

.callout.callout_okay table {

border-collapse:collapse;
}




.callout.callout_okay table tr {

border-bottom: 1px solid black;
}

.callout.callout_okay table:not(.plain) tr:nth-child(2n) {
  background-color: #f8e8f8;

}

.callout.callout_okay .markdown-body .rdmd-table table {
  border: 0px solid black;
}

.callout.callout_okay .markdown-body .rdmd-table table {
  border: 0px solid black;
}
.callout.callout_okay .markdown-body .rdmd-table table td {
  border: 0px solid black;
}
.callout.callout_okay .markdown-body .rdmd-table table th {
  border: 0px solid black;
}

.callout.callout_okay .markdown-body table td, .callout.callout_okay .markdown-body table th {
	border: 0px !important;
	border-collapse:collapse;
}

.callout.callout_okay .rdmd-table table {
  border: 0px solid black;
}
.callout.callout_okay .rdmd-table table td {
  border: 0px solid black;
}
.callout.callout_okay .rdmd-table table th {
  border: 0px solid black;
}

.callout_okay .heading-text p {
color: rebeccapurple;
}

.callout.callout_okay h3 p {
text-transform: uppercase;
color: var(--color-text-muted);
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}

.callout.callout_okay .rdmd-table table td {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 11px; /* REDUCE SIZE OF HEADING */
  color: var(--color-text-muted);
}

.callout.callout_okay .rdmd-table table th {
  border: 0px solid black;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-text-muted);
}

.callout.callout_okay > {
	font-size: 13px; /* Reduce size of text in PERMISSSIONS */
}


/* Space between table and text in blockquote */
.field-description blockquote > :last-child, .markdown-body blockquote > :last-child {
  margin-bottom: 0;
  padding-top: 12px;
}


.fa-solid, .fas {
  font-weight: 600;
	font-size: 16px;
  color: rebeccapurple;
}

.callout[theme=👍] {
  --emoji: unset;
  --icon: "\fa-fw"; /* copied front FontAwesome */
  --icon-color: rebeccapurple;
}



.callout.callout_ok, .callout.callout_okay, .callout.callout_success {
--background:#f8e8f8;
--title:rebeccapurple !important;
--border:rebeccapurple !important;
}

/* Idemptpotency admonition */
.callout[theme=📷] {
  --emoji: unset;
  --icon: "\f057"; /* copied front FontAwesome */
  --icon-color: #c50a50;
}

.callout.callout[theme=📷] {
  background: var(--background);
  border-color: var(--background);
  color: var(--text);
  padding: 1.33rem;
}

.callout.callout[theme=📷] h3 p {
text-transform: uppercase;
color: var(--color-text-muted);
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}


/* DEPRECATED admonition */
.callout[theme=🍏] {
  --emoji: unset;
  --icon: "\f057"; /* copied front FontAwesome */
  --icon-color: #c50a50;
}

.callout.callout[theme=🍏] {
  background: #fdf7f7;
  border-color: var(--background);
  color: var(--text);
  padding: 1.33rem;
}

.callout.callout[theme=🍏] h3 p {
text-transform: uppercase;
color: #c50a50;
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}


/* Recipe admonition */
.callout[theme=🍎] {
  --emoji: unset;
  --icon: "\f002"; /* copied front FontAwesome */
  --icon-color: #eea236;
}

.callout.callout[theme=🍎] {
  --emoji: unset;
  background: #fcf8f2;
  border-color: #fcf8f2;
  color: var(--text);
  padding: 1.33rem;
}

.callout.callout[theme=🍎] h3 p {
text-transform: uppercase;
color: #eea236;
font-family: var(--font-family);
font-size: 12px;
font-weight: var(--font-weight-bold);
}



/*API */

.field-description ul {
  list-style: initial;
  font-size: 13px !important;
  line-height: 1.4 !important;
}

/* BANNER */

.banner-first-level
{
    background: #024D6B;
    padding:80px 0;
}
@media only screen and (max-width: 595px) {
    .banner-first-level  {
        font-size: 28px;
        padding: 32px 0;
    }
}
.banner-first-level .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1236px;
    position: relative;
}
.banner-first-level .row-wrap .content-wrap{
    max-width: 730px;
    margin-right: auto;
}
.banner-first-level .row-wrap .content-wrap h2
{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    margin: 0 0 8px;
}
@media only screen and (max-width: 595px) {
    .banner-first-level .row-wrap .content-wrap h2 {
        font-size: 28px;
    }
}


.banner-first-level .row-wrap .content-wrap h5
{
    font-weight: 600;
    font-size: 20px;
    color:#fff;
    margin: 0 0 20px;
    line-height: 30px;
}
.banner-first-level .row-wrap .content-wrap p
{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding-right: 56px;
}
@media only screen and (max-width: 595px) {
    .banner-first-level .row-wrap .content-wrap p  {
        padding-right: 56px;
    }
}

/* CHANGELOG */
.ChangelogPost_date2Nj3qJy6ZUmT.DateLine {

  visibility: collapse  !important;
  padding-bottom: 0px;
}

.ChangelogIcon_added1pTN1uSXzdyu {
  background: var(--red) !important;
}

.ChangelogIcon_improved6EeszHbCOX8L {
  background: var(--red) !important;
}

/* DEFINITION LISTS */

dl.bullet {
}

dl.bullet > dt {
  float: left;
  margin-right: 5px;
  font-weight: 600;
  font-style: normal !important;
  display: list-item;   /* This has to be "list-item"   */ 
  list-style-type: disc;  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type   */ 
  list-style-position: inside;
  margin-top: 0em !important;
}


dl.bullet > dt::after {
  content: ":  ";
}

dl.bullet > dd {
	margin-left: 0px;
  margin-bottom: 0em !important;
  padding: 2px 0 4px 4px !important; 

}

/* DESCRIPTION LISTS */


dl.status {
	padding: 0.5em;
	display: flex;
	flex-flow: row wrap;
}

.status > dt {
    font-style: normal !important;
    flex-basis: 35%;
    text-align: left;
    border-top: 1px solid #333;
  	margin-bottom: 0 !important;
    margin-top: 0 !important;
  	padding-top: 15px !important;
    padding-bottom: 15px;

}

.dd {
  padding-top: 15px !important;
}

.status > dd {
    flex-basis: 65%;
    flex-grow: 1;
    border-top: 1px solid #333;
  	margin-bottom: 0em !important;
  	margin-top: 0em !important;
   margin-top: 0em !important;
	 padding-top: 15px !important;
   padding-bottom: 15px !important;
}


dl.code-defs {
	padding: 0.5em;
}
  
.code-defs > div {
    border-top: 1px solid #dfe2e5;
  	width:100%;
  display: flex;
  }
  
.code-defs > div:nth-child(2n) {
    background-color: #fbfcfd;
  }
  
.code-defs > div > dt {
    font-style: normal !important;
  	
  	width: 25%;
    text-align: left;

  	margin-bottom: 0 !important;
    margin-top: 0 !important;
  	padding-top: 5px !important;
    padding-bottom: 5px;
}
  
  dl.code-defs > div > dt > code {
  color: #b40023;
  }

.code-defs > div > dd {
  width: 75%;

 	border-top: 1px solid  	#dfe2e5;
  margin-bottom: 0em !important;
  margin-top: 0em !important;
  margin-top: 0em !important;
	padding-top: 5px !important;
  padding-bottom: 5px !important;
}


/* FOOTER */

.footer
{
  padding:50px 0 0;
  position: relative;
}
@media screen and (min-width: 596px) and (max-width: 991px) {
  .footer{
    padding:70px 0 0;
  }
}
@media only screen and (max-width: 595px) {
  .footer{
    padding:0 0 0;
  }
}
@media only screen and (max-width: 595px) {
  .footer{
    padding:0 0 0;
  }
}
.footer .bottom-line{
  content: '';
  position: absolute;
  height: 8px;
  background: linear-gradient(90deg, #09869F -2.75%, #024D6B 99.58%);
  width: 100%;
  bottom: 0;
}
.footer .container{
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  max-width: 1237px;
  position: relative;
}
.footer .top-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 83px;
}

@media only screen and (max-width: 595px) {
  .footer .top-content{
    padding: 0 20px 24px;
  }
}
.footer .col-wrap {
  flex: 0 0 25%;
  max-width: 23%;
  width:100%;
}

@media only screen and (max-width: 991px) {
  .footer .col-wrap:first-child  {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 20px
  }
  .footer .col-wrap  {
    flex: 0 0 50%;
    max-width: 50%;

  }
  footer .col-wrap .logo-wrap{
    margin:0 auto;
  }
  .footer .col-wrap .address-item{
    margin:0 auto;
  }
}
.footer .col-wrap .logo-wrap {
  margin-bottom: 48px;
  max-width: 214.4px;
  height: 80px;
}
@media only screen and (max-width: 767px) {
  .footer .col-wrap .logo-wrap
  {
    margin-bottom: 30px;
  }
}

.footer .col-wrap .logo-wrap img {
  width:100%;
  height: 100%;
  max-width: 100%;
  object-fit:contain;
  vertical-align: top;
}
.footer .col-wrap .address-item{
  max-width:267px;
}
.footer .col-wrap .address-item ul li{
  margin:0;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}
@media only screen and (max-width: 767px) {
  .footer .col-wrap .address-item ul li{
    text-align:center;
  }
}
.footer .col-wrap h6{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
@media only screen and (max-width: 991px) {
  .footer .col-wrap h6{
    margin: 15px 0;
  }
}
.footer .col-wrap ul li{
  list-style: none;
  margin: 20px 0 0;
}
@media only screen and (max-width: 991px) {
  .footer .col-wrap ul li{
    margin: 10px 0;
  }
}
.footer .col-wrap ul li a
{
  font-size: 14px;
  line-height: 21px;
  color:#000;
  text-decoration:none;
}
.footer .bottom-content{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position:relative;
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content{
    justify-content: center;
  }

}
.footer .bottom-content:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #F2F2F2
}
.footer .bottom-content .col-left{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 24px 0;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content .col-left {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 20px 0 0;
  }
  .footer .bottom-content .col-left p{
    margin:0 auto;
    text-align: center;
  }
}
.footer .bottom-content .col-left p{
  font-size: 10px;
  line-height: 14px;
  max-width: 482px;
}

.footer .bottom-content .col-right{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 24px 0;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content .col-right {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.footer .bottom-content .col-right ul{
  display:flex;
  list-style: none;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .footer .bottom-content .col-right ul{
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .footer .bottom-content .col-right ul{
    flex-direction: column;
    align-items: center;
  }
}
.footer .bottom-content .col-right ul li a{
  font-size: 12px;
  line-height: 21px;
  color: #5A5A5A;
  position: relative;
  text-decoration:none;
  cursor: pointer;
  margin: 0 10px 0;
}
.footer .bottom-content .col-right ul li a:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -9px;
  margin: auto;
  width: 1px;
  height: 70%;
  background-color:  #5A5A5A;
  cursor: auto;
}
@media only screen and (max-width: 480px) {
  .footer .bottom-content .col-right ul li a:after{
    display:none;
  }
}
.footer .bottom-content .col-right ul li:last-child a:after {
  display:none;
}


/* ICONS */
.icon-landing-page-2 {
  visibility: hidden;
}

.icon.icon-custom-pages-2 {
  visibility: hidden;
}

.icon-custom-pages-2 {
  visibility: hidden;
}
.icon-guides {
  visibility: hidden;
}
.icon-recipes {
  visibility: hidden;
}
.icon-references {
  visibility: hidden;
}
.icon-changelog {
  visibility: hidden;
}
.icon-text-align-left::before {
  content: none !important;
  visibility: hidden;
}

.icon-document2 {
    visibility: hidden;
}

/*
	PROCEDURES
*/

ol > li {
  margin-top: 1em !important;
}

ol > li > br {
	content: "A" !important;
	display: block !important;
  margin-top: 1em !important;
}
/* SYNOPSIS */

.synopsis {
	overflow-wrap: normal;
	word-break: normal;
  background-color: rgb(246, 248, 250);
	box-sizing: border-box;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-size: 12.75px;
	line-height: 18.4833px;
	margin-bottom: 15px;
	margin-top: 15px;
	overflow-wrap: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
	position: relative;
	word-break: normal;
  line-height: 6px;
  font-weight: 600;
  overflow-wrap: normal;
	overflow-x: auto;
	overflow-y: auto
}

.synopsis > .prototype {

}
.synopsis > p.parameter {
  margin-left:12px;
}

dt > code.rdmd-code {
  font-color:black !important;
  font-style: normal;
  font-weight: 600;
} 
